<ion-header-bar align-title="center" class="bar bar-header bar-positive">
	<button class="button button-large button-positive ion-arrow-left-a" ng-click="goBack()"></button>
	<h1 class="title">{{restaurant.data.name}}</h1>
</ion-header-bar>

<ion-content>
	<ion-scroll direction="y" style="width: 100%; height: 100%;">
		<button class="bar bar-dark" style="position: relative; height: inherit;">
			<div class="ion-ios-location inline" style="font-size: 20px; margin: 10px;"></div>
			<div class="inline" style="margin: 10px 5px 5px 5px; text-align: left;">{{restaurant.data.address}}</div>
		</button>
		
		<ion-list class="list" ng-repeat="(key, value) in restaurant.data.info">
			<ion-item class="item">
				<div class="inline" style="width: 80px; text-transform: capitalize;">{{key}}</div>
				<div class="inline" style="text-transform: lowercase;">{{value}}</div>
			</ion-item>
		</ion-list>
		<img src="{{restaurant.data.promotion}}"></img>
	</ion-scroll>
</ion-content>

<ion-footer-bar align-title="center" class="bar bar-footer bar-light" style="height: 65px;">
	<button class="button button-block button-balanced" ng-click="goTable()">GO IN</button>
</ion-footer-bar>