<ion-header-bar align-title="center" class="bar bar-header bar-positive">
	<h1 class="title">Nearby</h1>
</ion-header-bar>

<ion-content>
	<ion-refresher 
		pulling-text="Pull to refresh..." 
		on-refresh="getRestaurants()">
  	</ion-refresher>

	<div ng-hide="showList" class="loading">
		<i class="icon ion-loading-c"></i> Loading...
	</div>

	<ion-list class="list" ng-show="showList">
		<ion-item class="item item-thumbnail-left" ng-repeat="restaurant in restaurants" ng-click="goToRestaurant({{restaurant.id}})">
			<img src={{restaurant.data.img}}></img>
			<h2>{{restaurant.data.name}}</h2>
			<p>{{restaurant.data.desc}}</p>
		</ion-item>
	</ion-list>
</ion-content>